# ----- CONFIGURACION GLOBAL -----
# Define el límite de registros a procesar. Usa un número (ej. 100) o '0' para procesar TODO.
LIMIT=0

# ----- CONEXIONES DE BASES DE DATOS -----

# POSTGRESQL (Sin nombre de DB. Se pasa dinámicamente)
DBPG_DWH="postgresql://usuario:pass@192.168.x.x:5432"

# SQL SERVER (Incluye configuración de ODBC y TLS según requerimiento de la instancia)
DB_MSSQL_PROD="DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.x.x\INSTANCIA,1433;UID=user;PWD=pass;Encrypt=yes;TrustServerCertificate=yes;"

# SQLITE (Ruta relativa desde la raíz del proyecto)
DB_SQLITE_LOCAL="data/output/db_local.db"